
#dashboardPageDefault {
  width: 100%;
  text-align: center;
  display: flex;
  chart {
    margin: 30px;
    margin-top: 60px;
    display: inline-block;
  }
  @media screen and (max-width: 1450px) {
    .triggerDiv {
      display: block;
    }
  }

}
