@import "../../../styles.scss";

#checkBookMainContainer {
    background-color: $background;
    min-height: 100vh;
    padding-top: 30px;
  
  }
  #checkbookCard {
    width: 95%;
    // background-color: $cardBackground;
    background-color: white;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
  }

  #checkbookNav {
      background-color: $navyBlue;
      color: white;
      padding: 15px;
      a {
          color: white;
          padding-left: 20px;
          text-decoration: none;
      }
  }