#checkbookDashboard {
    background-color: #f3f3f3;
    
    padding: 40px;
    box-sizing: border-box;
    min-height: 100vh;

    h1 {
        margin: 0 0 50px 0;
    }
}

#cardsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.checkbookCard, #addNew {
    min-width: 200px;
    background-color: white;
    padding: 40px 50px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin: 20px;
    box-shadow: 1px 1px 2px #aaa;
    h2 {
        font-size: 30px;
    }
    i {
        font-size: 30px;
        background-color: white;
        margin: 0 5px;
    }
    .cardMid {
        display: flex;
        align-items: center;
        justify-content: center;
        .line {
            height: 1px;
            background-color: #aaa;
            width: 100%;
        }
    }
    .cardInfo {
        margin: 30px 0;
    }
    .cardButton {
        text-align: center;
        border: 1px solid black;
        padding: 5px 0;
        border-radius: 5px;
        margin-bottom: 0px;
        transition: all 0.25s;
    }
    .cardButton:hover {
        cursor: pointer;
        background-color: #f3f3f3;
    }
    
}
#addNew {
    position: relative;
    i {
        font-size: 35px;
    }
    .cardMid {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
        :hover {
            cursor: pointer;
        }
        .line {
            height: 1px;
            background-color: #aaa;
            width: 100%;
        }
    }
    .createNewCheckbook {
        overflow: hidden;
    }

    mat-form-field {
        width: 100%;
    }


}

button {
    width: 100%;
}