<div id="checkbookDashboard">
    <div class="checkbookCard" *ngFor="let checkbook of checkbooks">
        <h2>{{ checkbook.name }}</h2>
        <div class="cardMid">
            <div class="line"></div>
            <i class="fas" [ngClass]="checkbook.icon"></i>
            <div class="line"></div>
        </div>
        <div class="cardInfo">
            <p>Balance: ${{checkbook.currentBalance}}</p>
            <p>Last Edit: {{checkbook.lastEdit | date}}</p>
        </div>
        <div class="cardButton" [routerLink]="['../checkbookDetail', checkbook.id]">
            Details
        </div>
    </div>
    <div id="addNew">
        <div class="cardMid">
            <div class="line"></div>
            <i class="fas fa-plus-circle"></i>
            <div class="line"></div>
        </div>
    </div>
</div>