<div id="checkbookDashboard">
    <div class="checkbookCard">
        <h2>Debit Card</h2>
        <div class="cardMid">
            <div class="line"></div>
            <i class="fas fa-money-check"></i>
            <div class="line"></div>
        </div>
        <div class="cardInfo">
            <p>Balance: $5000</p>
            <p>Last Edit: 2/5/20</p>
        </div>
        <div class="cardButton">
            Details
        </div>
    </div>
    <div class="checkbookCard">
        <h2>Savings</h2>
        <div class="cardMid">
            <div class="line"></div>
            <i class="fas fa-money-bill-wave"></i>
            <div class="line"></div>
        </div>
        <div class="cardInfo">
            <p>Balance: $15000</p>
            <p>Last Edit: 3/5/20</p>
        </div>
        <div class="cardButton">
            Details
        </div>
    </div>
    <div id="addNew">
        
        <div class="cardMid">
            <div class="line"></div>
            <i class="fas fa-plus-circle"></i>
            <div class="line"></div>
        </div>
    </div>
</div>