<div id="checkbookMainContainer">
    <div id="checkbookHeader">
      <div id="checkbookHeaderWords">
        <h1>{{checkbook.name}}</h1>
      </div>
      <div id="checkbookHeaderContent">
        <div id="headBalance">
          <p>Balance: ${{checkbook.currentBalance}}</p>
        </div>
        <div id="editButton">Edit Checkbook</div>
        <div id="createButton">Add Transaction</div>
        <div [formGroup]="createTransactionForm">
          <mat-form-field>
            <input matInput formControlName="money" placeholder="Amount" required>
            <mat-hint>Enter a negative number for loss of money</mat-hint>
            <mat-error>Enter amount of money(Must be a number. No symbols)</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  
    <div id="checkbookSubHeaders">
      <h3 class="subHeader grow1">Date</h3>
      <h3 class="subHeader grow1">Deposit/Withdraw</h3>
      <h3 class="subHeader grow2">Description</h3>
      <h3 class="subHeader grow1">New Balance</h3>
    </div>
  
    <div id="checkbookContent" *ngIf="checkbook">
      <div class="checkbookContent" 
        *ngFor="let item of checkbook.items; let i = index" 
        [ngClass]="{'increase': item.money > 0, 'decrease': item.money < 0}"
        >
        <div class="checkbookItem grow1">
          <p>{{item.date}}</p>
        </div>
        <div class="checkbookItem grow1">
          <p>{{item.money}}</p>
        </div>
        <div class="checkbookItem grow2">
          <p>{{item.description}}</p>
        </div>
        <div class="checkbookItem grow1">
          <p>${{item.newAmount}}</p>
        </div>
      </div>
    </div>
</div>
