<div id="checkbookMainContainer">
  <!-- <div class="overlay" [ngClass]="{menuShow: menuState}" (click)="toggleMenu()"></div>
  <div id="checkbookCard">
    <div class="header">
      <div class="checkbook" (click)="toggleMenu()">
        <h1 class="item checkbookHeader">Checkbooks</h1>
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
      <div class="addingCheckbook" [routerLink]="['../addCheckbook', checkbookIndex]">
        <h3 class="item">Add Checkbook/Item</h3>
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      </div>
    </div> -->
    <div id="checkbookHeader">
      <div id="checkbookHeaderWords">
        <h1>{{checkbook.name}}</h1>
      </div>
      <div id="checkbookHeaderContent">
        <div id="headBalance">
          <p>Balance: ${{checkbook.currentBalance}}</p>
        </div>
        <div id="editButton">Edit Checkbook</div>
        <div id="createButton">Add Transaction</div>
      </div>
    </div>
  
    <div id="checkbookSubHeaders">
      <h3 class="subHeader grow1">Date</h3>
      <h3 class="subHeader grow1">Deposit/Withdraw</h3>
      <h3 class="subHeader grow2">Description</h3>
      <h3 class="subHeader grow1">New Balance</h3>
    </div>
  
    <div id="checkbookContent" *ngIf="checkbook">
      <div class="checkbookContent" 
        *ngFor="let item of checkbook.items; let i = index" 
        [ngClass]="{'increase': item.money > 0, 'decrease': item.money < 0}"
        >
        <div class="checkbookItem grow1">
          <p>{{item.date}}</p>
        </div>
        <div class="checkbookItem grow1">
          <p>{{item.money}}</p>
        </div>
        <div class="checkbookItem grow2">
          <p>{{item.description}}</p>
        </div>
        <div class="checkbookItem grow1">
          <p>${{item.newAmount}}</p>
        </div>
      </div>
    </div>
</div>
