@import "../../../styles.scss";



// .overlay {
//   height: 100%;
//   width: 100%;
//   background-color: rgba(0,0,0,0.5);
//   display: none;
//   position: fixed;
//   top:0;
//   left: 0;
// }

#checkbookMainContainer {
  padding: 40px 20px;
  background-color: #f3f3f3;
}



.header {
  font-family: $largeFont;
  font-weight: 200;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DDD;
  .item {
    display: inline-flex;
  }
  .checkbook {
    align-items: center;
    i {
      font-size: 40px;
    }
    .fa-bars {
      margin-left: 5px;
    }
    .checkbookHeader {
      font-size: $headFontSize;
      margin-left: 10px;
    }
  }
  .addingCheckbook {
    margin-right: 10px;
    i {
      color: $darkGreen;
      font-size: 15px;
    }
    i:hover {
      cursor: pointer;
    }
  }

}
.addingCheckbook:hover {
  cursor: pointer;
}

#checkbookHeader {
  width: 400px;
  margin: 0px auto 50px auto;
  border-bottom: 1px solid #ddd;
  background-color: white;
  padding: 20px;
  #checkbookHeaderWords {
    text-align: center;
  }

  #headBalance {
    color: #777;
    text-align: center;
    font-size: 15px;
  }
  #editButton, #createButton {
    padding: 5px;
    color: #777;
    font-size: 15px;
    margin-top: 15px;
    text-align: center;
    border: 1px solid #777;
  }
}

#checkbookSubHeaders {
  display: flex;

  border-bottom: 1px solid #ddd;
  padding: 0 15px;
  .subHeader {
    flex-basis: 100%;
    text-align: left;
    font-size: 13px;
    font-weight: 100;
    color: #777;
    padding-bottom: 5px;
  }
}

#checkbookContent {
  margin-top: 5px;
  .checkbookContent {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    padding: 15px;
    margin: 10px 0;
    .checkbookItem {
      text-align: left;
      font-size: 15px;
      flex-basis: 100%;
      display: flex;
    }
    i {
      // position: absolute;
      right: 5px;
      font-size: 20px;
    }
    i:hover {
      cursor: pointer;
    }
  }
}

.grow1 {
  flex-grow: 1;
}

.grow2 {
  flex-grow: 2;
}

.grow3 {
  flex-grow: 3;
}

.increase {
  background-color: #eafeea;
}

.decrease {
  background-color: #ffe5e5;
}

.slidingMenu {
  background: $darkGreen;
  color: #fff;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  min-width: 250px;
  z-index: 9999;
  display: none;
}

.menuShow {
  display: block;
}

#menuHeader {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #ddd;
  h1 {
    width: 100%;
    text-align: center;
  }
}
.checkbooks {
  padding: 10px 0 10px 10px;
}

.checkbooks:hover {
  background-color: $lightGreen;
  cursor: pointer;
}


.x {
  position: absolute;
  right: 5px;
  color: white;
  font-size: 20px;
}

.x:hover {
  cursor: pointer;
}







