<div class="main">
  <!-- Top Navigation -->
  <div class="cctop clearfix">
  </div>

  <div class="wrapper">

    <div class="ccparallaxeff">
      <div class="header">
        <img src="../../assets/cashRoyaleLogo.png" class="logo">
        <a [routerLink]="['../loginPage']" class="myButton" id="loginButton">Login</a>
        <a href="#signup" class="myButton" id="signupButton">Sign Up</a>

      </div>
      <div class="crt-parallaxvideo">
        <video autoplay muted loop>
          <source src="src/assets/High-Lines/MP4/High-Lines.mp4" type="video/mp4">
          <source src="src/assets/High-Lines/WEBM/High-Lines.webm" type="video/ogg">
        </video>
        <div class="stupidLeftContainer">
          <h1>Cash Royale</h1>
          <h3>Free your finances.</h3>
        </div>
      </div>
      <div class="plax content">
        <div class="container">
          <div class="contentarea intro">
            <h3>Fight To Become Financially Secure.</h3>
            <p>Cash Royale helps you become more financially secure with our many budget building features.</p>
          </div>
          <div class="examples">
            <p>Understand the big picture easier with dynamic graphs</p>
            <img class="graphIMG" src="../../assets/linegraphExample.png">
            <img class="graphIMG" src="../../assets/piechartExample.png">
          </div>
          <div class="interfaceExamples">
            <p>Easily construct a budget using our built in budget and checkbook tools</p>
            <img class="graphIMG" src="../../assets/linegraphExample.png">
            <img class="graphIMG" src="../../assets/piechartExample.png">
          </div>

        </div>
      </div>
      <div class="plax ccparallax ccparallax-three" id="signup">
        <div class="container signUp">
          <div class="signupCaption">
            <h1>Sign Up Today</h1>
          </div>
          <div class="signupForm">
            <form>
              <div class="form-group">
                Name <input id="name"  class="form-control" name="name" type="email" [(ngModel)]="user.name">
              </div>
              <div class="form-group">
                Email <input id="email"  class="form-control" name="email" type="email" [(ngModel)]="user.email">
              </div>
              <div class="form-group">
                Password <input type="password" class="form-control" name="password" [(ngModel)]="user.password">
              </div>
              <a href="#signup" class="myButton" id="linkSignIn">Sign Up</a>
            </form>
          </div>
        </div>
      </div>

      <div class="plax content">
        <div class="container">
          <div class="headlines">
            <div>
              <ul class="aboutFooter">
                <li>About Us</li>
                <li>Terms and Conditions</li>
                <li>Careers</li>
                <li>Privacy Policy</li>
              </ul>
            </div>
            <div class="socialFooter">
              <ul>
                Follow Us On Social Media
                <li>Twitter</li>
                <li>Facebook</li>
                <li>Youtube</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div><!-- /container -->
