<div class="main">
  <!-- Top Navigation -->
  <div class="cctop clearfix">
  </div>

  <div class="wrapper">

    <div class="ccparallaxeff">
      <div class="header">
        <img src="../../assets/cashRoyaleLogo.png" class="logo">
        <a href="#signup" class="myButton" id="signupButton">Sign Up</a>
      </div>
      <div class="crt-parallaxvideo">
        <video autoplay muted loop>
          <source src="src/assets/High-Lines/MP4/High-Lines.mp4" type="video/mp4">
          <source src="src/assets/High-Lines/WEBM/High-Lines.webm" type="video/ogg">
        </video>
        <div class="stupidLeftContainer">
          <h1>Cash Royale</h1>
          <h3>Free your finances.</h3>
        </div>
      </div>
      <div class="plax content">
        <div class="container">
          <div class="contentarea intro">
            <h3>Fight To Become Financially Secure.</h3>
            <p>Cash Royale helps you become more financially secure with our many budget building features.</p>
          </div>
          <div class="examples">
            <img class="graphIMG" src="../../assets/linegraphExample.png">
            <img class="graphIMG" src="../../assets/piechartExample.png">
          </div>

        </div>
      </div>
      <div class="plax ccparallax ccparallax-three" id="signup">
        <div class="container signUp">
          <div class="signupCaption">
            <h1>Sign Up Today</h1>
          </div>
          <div class="signupForm">
            <form>
              <div>
                Email <input id="email" type="email" ng-model="firstname">
              </div>
              <div>
                Password <input type="password" ng-model="password">
              </div>
              <button type="button ">Submit</button>
            </form>
          </div>
        </div>
      </div>

      <div class="plax content">
        <div class="container">
          <div class="headlines">
            <h1>The End</h1>
            <p>Thanks for visting</p>
          </div>
        </div>
      </div>
    </div>

  </div>


</div><!-- /container -->
