@import '../app.component.scss';

html, body, h1, h2, h3, h4, h5, h6, p, div, span, ul, ol, li {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

#dashboardPage {
  #topNav {
    height: 60px;
    width: 100%;
    background-color: $darkBlue;
    .leftTopNavIMG {
      float: left;
      height: 60px;
    }
  }
  #sideNav {
    background-color: #273038;
    width: 60px;
    height: 1000px;
    display: inline-block;
  }
  #mainContent {
    width: 100%;
    display: inline-block;
  }
}
