@import '../app.component.scss';
body, html {
  overflow: hidden;
}
html, body, h1, h2, h3, h4, h5, h6, p, div, span, ul, ol, li {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

#dashboardPage {
  #topNav {
    margin-left: 120px;
    color: white;
    height: 60px;
    width: calc(100% - 120px);
    h4 {
      float: right;
      margin-top: 20px;
      margin-right: 20px;
    }
    h4:hover {
      cursor: pointer;
    }
    i.fa {
      display: none;
      padding: 20px;
      height: 70px;
      vertical-align: middle;
    }
    background-color: $darkBlue;

    

  }
  #sideNav {
    top: 0;
    position: fixed;
  text-align: center;
    background-color: #273038;
    width: 120px;
    height: 100vh;

    .leftTopNavIMG {
      width: 100%;
      cursor: pointer;
      outline: none;
      background-color: #296c83;
    }
    #close-button {
      display: none;
    }
    a {
      text-decoration: none;
      color: white;
      :hover {
        text-decoration: underline;
      }

      .nav-item {
        padding: 15px 0;
        display: block;
      }
      .nav-item.first {
        margin-top: -5px;
      }

      

    }
    .activeNav{
      text-decoration: underline;
    }

    .userCirc {
      font-size: 35px;
      padding: 20px 0 10px 0;
      color: white;
    }

    .userCirc:hover {
      cursor: pointer;
    }

    .userContainer {
      position: relative;
    }

    #dashboardDropDown {
      position: absolute;
      width: 200px;
      overflow: hidden;
      left: 130px;
      top: 0;
      background-color: #296c83;
      color: white;
      padding: 20px;
      border-radius: 5px;
      text-align: left;
      p:hover {
        cursor: pointer;
      }

      h4 {
        text-decoration: underline;
        font-size: 18px;
        margin-bottom: 10px;
      }

      p {
        font-size: 13px;
        padding: 3px 0;
      }

      p:hover {
        text-decoration: underline;
      }
    }

    
    #checkbookChildRoutes {
      font-size: 13px;
      margin-top: -13px;
      overflow: hidden;
      

      .nav-item {
        padding: 5px 0;
        text-align: left;
        margin-left: 28px;
      }
    }

  }

  #mainContent {
    margin:   0 0 0 120px;
    width: calc(100% - 120px);
  }

  @media screen and (max-width: 850px) {
    #sideNav {
      display: none;
    }
    #sideNav.sidenav-open {

      cursor: pointer;
      min-width: 350px;
      width: 50vw;
      z-index: 99;
      display: inline-block;
      position: fixed;
      text-align: left;

      .leftTopNavIMG {
        max-width: 100px;
      }

      #close-button {
        color: white;
        width: 100px;
        height: 100px;
        display: inline-block;
      }

      a .nav-item {
        padding-left: 30px;
      }
    }
    #mainContent {
      text-align: center;
      margin: 0 auto;

    }
    #topNav {
      margin-left: 0;
      width: 100%;
      i.fa {
        display: inline-block;
      }
    }
  }
}
