@import '../app.component.scss';

html, body, h1, h2, h3, h4, h5, h6, p, div, span, ul, ol, li {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

#dashboardPage {
  #topNav {
    color: white;
    height: 60px;
    width: 100%;
    h4 {
      float: right;
      margin-top: 20px;
      margin-right: 20px;
    }
    i.fa {
      display: none;
      padding: 20px;
      height: 70px;
      vertical-align: middle;
    }
    background-color: $darkBlue;
    .leftTopNavIMG {
      height: 60px;
      background-color: #296c83;
    }
  }
  #sideNav {
    position: absolute;
  text-align: center;
    background-color: #273038;
    width: 120px;
    height: calc(100vh - 60px);

    a {
      text-decoration: none;
      color: white;
      :hover {
        background-color: #4BB5C1;
      }
      .nav-item.first {
       margin-top: 60px;
      }
      .nav-item {
        padding: 25px 0;
        display: block;
        width: 100%;
      }

    }

  }

  #mainContent {
   margin-left: 121px;
    width: calc(100% - 120px);
    display: inline-block;
  }

  @media screen and (max-width: 850px) {
    #sideNav {
      display: none;
    }
    #sideNav.sidenav-open {

      cursor: pointer;
      min-width: 350px;
      width: 50vw;
      z-index: 99;
      display: inline-block;
      position: fixed;
      text-align: left;

      a .nav-item {
        padding-left: 30px;
      }
    }
    #mainContent {
      text-align: center;
      margin: 0 0 0 120px;
    }
    #topNav {

      i.fa {
        display: inline-block;
      }
    }
  }
}
