@import "../../styles.scss";

#dashboardPage {
  #topNav {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: $darkBlue;
    .leftTopNavIMG {
      height: 60px;
      position: relative;
    }
  }
  #sideNav {
    background-color: $darkBlue;
    width: 60px;
    height: 100%;
    position: fixed;
  }
  height: 100%;
  overflow: hidden;
  .newPage {
    margin: 60px 0 0 60px;
  }
}
